* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: #f4f1f1;
}

.header {
    background-color: #cecdcd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.625rem;
}
.header img {
    width: 1.6rem;
    height: 1.6rem;
}

.perfilp {
    text-align: center;
    padding: 2rem;
}

.perfilpimg {
    width: 7rem;
    height: 7rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.telefone {
    width: 1rem;
}

.telefoneposicao {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}

.descricao {
    padding: 2rem 0rem;
    font-family: "PT Serif", serif;
}

.texto {
    display: flex;
    align-items: flex-start; 
}

.texto img {
    width: 1.5rem;
    margin-right: 0.5rem; 
}

.texto p {
    font-size: 1rem;
    line-height: 1.5;
    text-align: justify; 
    margin: 0;
}

.caixamensagem {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    gap: 1rem; 
    margin-top: 2rem; 
}

.mensagem {
    text-align: center;
    font-size: 1.2rem;
    color: #000000;
    border: 0.3rem solid rgb(65, 112, 204); 
    padding: 0.5rem 1rem; 
    border-radius: 0.625rem; 
    width: 10rem;
}

a {
    color: inherit; 
    text-decoration: none; 
}
@media (max-width: 768px) {
    .perfilp {
        padding: 1rem;
    }
    .perfilpimg {
        width: 5rem;
        height: 5rem;
    }
    .mensagem {
        font-size: 1rem;
    }
}
@media (max-width: 480px) {
    .mensagem {
        font-size: 0.8rem;
    }
}
